<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MELITest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B05CD6D27DFBC0000E9047D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B05CD8327DFBC0300E9047D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B05CD8D27DFBC0300E9047D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
